*{ margin: 0; padding: 0;}
html{font-family: 'Alkalami', serif; font-size: 62.5%;}

/*HEADER*/
.div_header_text{font-size: 20px; text-align: center; color: #2c2d3379; background-color: rgb(243 209 199);
    background-position: center center;}

/*NAV*/
.nav_inicial{
display:flex;
width: 100vw;
height: 10vw;
justify-content: center;
align-items: center;

}

.img_logo_nav{ 
margin-left: 20px;
margin-right: -150px;
height: 130px;
width: 130px;}
    /*LISTA DE BLOQUE A LINEA*/
.nav_menu_ul{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
}

.nav_menu_lista{
display:inline-block;
margin: 5px;
padding: 10px;
align-content: center;
align-items: center;}

a{color: #2c2d3379;font-family: 'Libre Baskerville', serif; 
font-weight: bold ;
font-size: 16px;
text-align:center;}


#main_inicio{background-image: url(../img/imagen_index_main/WhatsApp\ Image\ 2022-10-09\ at\ 8.18.39\ PM.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
     background-size: contain;
    height: 500px; width: 400;margin-top: 60px;}


h1 { font-family: 'Libre Baskerville', serif;
    font-weight: bold ;
    font-size: 24px;
    text-align:center; 
    color: brown;   }
h2 { font-family: 'Libre Baskerville', serif;
    font-weight: bold ;
    font-size: 24px;
    text-align:center;
     color: brown; margin-top: 0px;
       }
h3 { font-family: 'Libre Baskerville', serif;
    font-weight: bold ;
    font-size: 22px;
    text-align:center;
     color: brown; margin-top: 50px;   }     

header nav ul li{text-align: center;
    font-size: 16px; 
    color: rgb(0, 0, 0); 
    list-style: none;    }

/*SECTION page1*/
.div_text_desayunosorpresatodaocasion{font-size: 24px; text-align: center;color: brown;margin-top: 80px;}

.contenedor_img{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    
   }
.subcon_img{font-size: 18px;color:#2c2d3379;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;


}
.img_refe{ object-fit: cover;
 width: 300px; height: 400px;}

/*CONTENEDOR DOS*/
.contenedor_dos{
    
    padding:0px;
   }
.div_siguenos{ font-size: 24px; text-align: center;color: brown;margin-top: 15px;}

/*BOTONES*/

.btn_ayuda{position: fixed;
left: 1150px;height: 52px; width: 180px;}


.section_logo{text-align: center;}


    button {--color: #2c2d3379;font-family: inherit;display: inline-block;top: -100px;width: 8em;
        height: 2.6em;line-height: 2.5em;margin: 105px;position: relative;overflow: hidden;
        border: 2px solid var(--color);transition: color .5s;z-index: 1;font-size: 15px;border-radius: 6px;
        font-weight: 500;color: var(--color); }
       button:before {content: "";position: absolute;z-index: -1;background: var(--color);
        height: 150px;width: 200px;border-radius: 50%; }
       button:hover {color: #fff; }
       button:before {top: 100%;left: 100%;transition: all .7s; }
       button:hover:before {top: -30px;left: -30px;}
       button:active:before {background: #3a0ca3;transition: background 0s;}*/

/*html DESAYUNOS*/
.a{color: #2c2d3379;font-family: 'Libre Baskerville', serif; 
    font-weight: bold ;
    font-size: 16px;
    text-align:center;
}

.section_main{background-color: blue;
width: 100vw;
margin-top: 5px;
display: flex; 
flex-direction: row;
justify-content: space-evenly;
list-style: none;
}

 .categorias{background-color: green;
display:inline-block;
margin: 5px;
padding: 0px;
align-content: left;
align-items: left;
color: #2c2d3379;font-family: 'Libre Baskerville', serif; 
font-weight: bold ;
font-size: 16px;
text-align:left;
}   
.img_refe_dos{ object-fit: cover;
     width: 260px; height: 290px;}
     .subcon_img_dos{font-size: 16px;
        color:#2c2d3379;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color:yellow;
        margin: 10px;    
    }
.contenedor_img_dos{
        background-color:red;
        display: flex;
        justify-content: left;
        align-items: left;
        margin: 5px;    
        }





/*html DUDAS*/
.sect_arti_preguntas{
    background-position: center;
}
.p_preguntas{font-size: 20px;
    text-align: justify;
    color: #2c2d3379;
    background-position: center center;
    position: relative;
margin-left: 200px;}
.p_respuestas{font-size: 16px;
    text-align: justify;
    color: #2c2d3379;
    background-position: center center;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;}
hr{margin-left: 200px;
    margin-right: 200px;}
.sect_arti_preguntas{margin-top: 50px;}
/*html CONTACTO*/

.forn_field{margin-left: 210px;
    margin-right: 210px;
    background-color: rgb(243 209 199);}
textarea{resize: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; 
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;text-align: left;}
.forn_label{font-size: 18px;
    text-align: center;
    color: #2c2d3379;
    margin-left: 10px;}
.forn_input{font-size: 15px;
    text-align:center;}
.btn_enviar{text-align: center;
    margin-left: 23em;
    font-size: 20px;
    color: #2c2d3379;
    margin-top: -5px;}
/*FOOTER*/
footer{font-size: 20px; 
    text-align: center;
     color: #2c2d3379; 
     background-color: rgb(243 209 199);
    background-position: center center;}

    /*mobilebod firts*/
#body_grid{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto auto;
}
nav{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto auto;
}
.logo{
    align-self: center;
    justify-self: center;
}
.img_logo_nav{
    justify-self: center;
}
.nav_menu_ul{
    justify-self:center;
}
.titulo{
    justify-self: center;
}

